@import '@/shared/style/mixins';

.menu {
	position: fixed;
	width: 100vw;
	bottom: 0;

	.ul {
		display: flex;
		justify-content: space-between;
		background-color: var(--primary);
		border-top: 1px solid var(--border);
		margin: 0 4px;
	}

	.link {
		display: flex;
		flex-direction: column;
		font-size: calc(var(--step) * 3);
		padding: calc(var(--step) * 3) calc(var(--step) * 4);

		.icon {
			width: 24px;
			height: 24px;
		}
	}

	@include md {
		position: static;
	}
}
